body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.menu__btn {
    display: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    padding: 17px 16px;
    transition: all 0.5s;
    &:hover{
        background-color: #2f304a;
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
    }

    &__item+.header-top__item {
        margin-left: 100px;
    }

    &__item-link {
        @extend %text;
        color: #fff;
        text-decoration: none;
    }

    &__menu {
        padding-top: 10px;
    }

    &__link-btn {
        @extend %btn;
        padding: 18px 35px 16px;
        border: 1px solid rgba(255, 255, 255, 0.295743);
        border-radius: 6px;
        color: #fff;
    }
}

.header-bottom {
    text-align: center;

    &__title {
        @extend %h1;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 24px;

        padding-top: 104px;
    }

    &__text {
        @extend %text;
        color: rgba(255, 255, 255, 0.64);
        padding-bottom: 64px;
        max-width: 570px;
        margin: 0 auto;
    }
}

.pagination {
    &__list {
        display: flex;
        justify-content: center;

    }

    &__item+.pagination__item {
        margin-left: 8px;
    }

    &__link {
        @extend %btn;
        background-color: #fff;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
        padding: 18px 19px 16px;
        color: #391400;
    }

    &__link--active {
        background-color: #EF6D58;
        color: #fff;
    }
}