@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
    background-color: #28293E;
    padding: 16px 56px;


    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 113px;
    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 24px;
    }

    &__title {
        @extend %h1;
        color: #fff;
        margin-bottom: 24px;
        max-width: 513px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 148px;
            height: 148px;
            top: -34px;
            right: 88px;
            background-image: url(../images/star-icon.svg);

        }
    }

    &__text {
        @extend %text;
        color: rgba(255, 255, 255, 0.64);
        margin-bottom: 34px;
    }

    &__items-link {
        display: flex;
        margin-bottom: 108px;
        align-items: center;

    }

    &__item-btn {
        @extend %btn;
        color: #fff;
        background-color: #EF6D58;
        border-radius: 6px;
        padding: 18px 23px 16px;
        margin-right: 46px;
    }

    &__item-link {
        @extend %text;
        color: #fff;
    }

    &__blockquote-wrapper {
        @extend %text;
        margin-left: 64px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 48px;
            height: 48px;
            left: -64px;
            background-image: url(../images/Bitmap.png);
        }
    }

    &__blockquote {
        color: rgba(255, 255, 255, 0.64);
    }

    &__blockquote-author {
        color: #fff;
        padding-bottom: 56px;
    }

    &__image {
        object-fit: cover;
        max-height: 601px;
    }
}

.partners {
    background-color: $bg;
    padding-top: 73px;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 73px;
        border-bottom: 1px solid #F3D1BF;
    }
    &__img{
        object-fit: contain;
    }
}

.about {
    padding-top: 100px;
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 161px;
    }

    &__img {
        margin-right: 130px;
    }

    &__content {
        padding-top: 70px;
    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 20px;
    }

    &__title {
        @extend %h2;
        color: #391400;
        padding-bottom: 26px;
        max-width: 417px;
    }

    &__big-text {
        @extend %text-big;
        color: #391400;
        margin-bottom: 18px;
    }

    &__text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        padding-bottom: 34px;
    }

    &__btn {
        @extend %btn;
        color: #391400;
        padding: 18px 34px 16px;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
    }
}

.about-statistic {
    display: flex;
    justify-content: space-between;

    &__item {
        border: 1px solid #F3D1BF;
        padding: 45px 0 38px;
        width: 391px;
    }

    &__num {
        @extend %h3;
        color: #391400;
        margin-left: 48px;
        margin-bottom: 11px;
    }

    &__text {
        @extend %text-big;
        color: #391400;
        margin-left: 48px;
    }
}

.work {
    padding-top: 140px;
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 108px;
        border-bottom: 1px solid #F3D1BF;
    }

    &__content {
        max-width: 470px;
    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 17px;
    }

    &__title {
        @extend %h3;
        color: #391400;
        margin-bottom: 31px;
    }

    &__text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 28px;
    }

    &__link-btn {
        @extend %text;
        color: #391400;
    }

    &__skills {
        padding-top: 90px;
    }

    &__item {
        @extend %h4;
        color: #391400;
        text-align: left;
        align-items: center;
        display: flex;
        margin-bottom: 32px;

        span {
            @extend %h1;
            margin-right: 66px;
            min-width: 80px
        }
    }
}

.video {
    padding: 127px 0 191px;
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__screen {
        width: 570px;
        padding: 110px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/video-screen.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    &__time {
        position: absolute;
        bottom: 27px;
        left: 24px;
        background-color: rgb(87 11 0 / 24%);
        width: 47px;
        border-radius: 6px;
        @extend %text;
        color: #fff;
        text-align: center;
    }

    &__content {
        max-width: 470px;
        padding-top: 60px;
    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 17px;
    }

    &__title {
        @extend %h3;
        color: #391400;
        margin-bottom: 28px;
    }

    &__text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
    }
}

.features {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 202px;

    }

    &__content {
        max-width: 470px;
        padding-top: 77px;
    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 20px;
    }

    &__title {
        @extend %h2;
        color: #391400;
        margin-bottom: 26px;

    }

    &__text-big {
        @extend %text-big;
        color: #391400;
        margin-bottom: 26px;
    }

    &__item {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 16px;
        margin-left: 48px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            left: -48px;
            background-image: url(../images/check-icon.svg);
        }
    }
}

.feature-skills {
    display: flex;
    justify-content: space-between;

    &__content {
        max-width: 370px;
        padding-top: 76px;
    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 30px;
    }

    &__text-big {
        @extend %text-big;
        color: #391400;
        margin-bottom: 28px;
    }

    &__link-btn {
        @extend %text;
        color: #391400;
    }

    &__items {
        display: flex;
        align-items: flex-end;
        padding-bottom: 213px;
    }

    &__item--big {
        background-color: #fff;
        border: 1px solid #F3D1BF;
        box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
        border-radius: 6px 6px 0px 6px;
    }

    &__item--small {
        border: 1px solid #F3D1BF;
        border-radius: 0px 6px 6px 0px;
    }

    &__img {
        margin: 48px 208px 41px 48px;
    }

    &__item {
        max-width: 336px;


    }

    &__item-title {
        @extend %h4;
        color: #391400;
        margin-left: 48px;
        margin-bottom: 19px;
    }

    &__item-title--small {
        padding-top: 105px;
    }

    &__item-text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-left: 48px;
        margin-bottom: 46px;
    }
}

.service {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 141px;
    }

    &__content {
        max-width: 463px;
    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 20px;
    }

    &__title {
        @extend %h2;
        color: #391400;
        margin-bottom: 26px;
    }

    &__text-big {
        @extend %text-big;
        color: #391400;
        margin-bottom: 39px;
    }

    &__blockquote-wrapper {
        margin-left: 85px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 64px;
            height: 64px;
            background-image: url(../images/service-author-icon.png);
            left: -85px;

        }
    }

    &__blockquote {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 12px;
    }

    &__blockquote-author {
        @extend %text;
        color: #391400;
        margin-bottom: 36px;
    }

    &__btn {
        @extend %btn;
        color: #391400;
        padding: 18px 38px 16px;
        text-align: left;
        background: #FFFFFF;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
    }
}

.service-skills {
    padding-bottom: 128px;

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 17px;
    }

    &__title {
        @extend %h3;
        color: #391400;
        padding-bottom: 35px;
        max-width: 336px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 391px;
        border: 1px solid #F3D1BF;

        &:first-child {
            border-radius: 6px 0px 0px 6px;
        }

        &:last-child {
            border-radius: 0px 6px 6px 0px;
        }
    }

    &__item-img {
        padding: 48px 0 41px 48px;
    }

    &__item-title {
        @extend %h4;
        color: #391400;
        padding-left: 48px;
        margin-bottom: 19px;
    }

    &__item-text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        padding-left: 48px;
        margin-bottom: 26px;
    }

    &__item-link {
        @extend %text;
        color: #391400;
        padding-left: 48px;
        padding-bottom: 52px;
        display: block;
    }
}

.portfolio {
    padding: 92px 0 140px;
    background-color: #28293E;

    &__inner {
        margin: 0 auto;
        text-align: center;

    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 20px;
    }

    &__title {
        @extend %h2;
        color: #fff;
        margin-bottom: 36px;
    }

    &__link-wrapper {
        margin: 0 auto;
        width: 181px;
    }

    &__link-btn {
        @extend %btn;
        color: #fff;
        padding: 18px 30px 16px 31px;
        border: 1px solid rgba(255, 255, 255, 0.295743);
        border-radius: 6px;
        display: block;

    }
}

.filter-nav {
    margin: 0 auto;
    margin-bottom: 68px;
    max-width: 574px;

    &__btn {

        border: none;
        background-color: transparent;
        @extend %text;
        color: rgba(255, 255, 255, 0.64);
        padding: 0;
        padding-top: 5px;
        position: relative;

        sup {
            position: absolute;
            top: -5px;
        }
    }

    //    &__btn--active{
    //     color: #fff;
    //    }
    &__btn+.filter-nav__btn {
        margin-left: 46px;
    }

    &__inner {
        display: grid;
        max-height: 1031px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 416px);
        grid-column-gap: 30px;
        grid-row-gap: 32px;
        grid-template-areas:
            'A A A A  B B B B  B B B B'
            'C C C C  C C C C  D D D D'
        ;
        margin-bottom: 64px;
    }

    &__inner--flex {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;

        &:nth-child(1) {
            grid-area: A;
        }

        &:nth-child(2) {
            grid-area: B;
        }

        &:nth-child(3) {

            grid-area: C;
        }

        &:nth-child(4) {
            grid-area: D;
        }
    }

    &__img {
        border-radius: 7px;
        object-fit: cover;
    }

    &__wrapper {
        position: absolute;
        bottom: 51px;
        left: 48px;
    }

    &__tag {
        @extend %text;
        color: #391400;
        background-color: #fff;
        border-radius: 19px;
        padding: 5px 15px 1px 16px;
        margin-bottom: 23px;
        display: inline-block;
        text-align: left;
    }

    &__title {
        @extend %h3;
        color: #fff;
    }

}

.started {
    padding-bottom: 140px;
    background-color: #28293E;

    &__inner {
        display: flex;
        justify-content: flex-start;
        background-color: #FDF0E9;
        border-radius: 6px;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 148px;
            height: 148px;
            background-image: url(../images/started/gift-icon.png);
            top: -77px;
            left: 73px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 295px;
            height: 396px;
            background-image: url(../images/started/girl.png);
            bottom: 0;
            right: 100px;
        }
    }

    &__content {
        margin-left: 100px;
        max-width: 248px;


    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 13px;
        padding-top: 92px;
    }

    &__title {
        @extend %h4;
        color: #391400;
        margin-bottom: 23px;
    }

    &__btn {
        @extend %btn;
        color: #fff;
        padding: 18px 32px 16px;
        border-radius: 6px;
        background-color: #EF6D58;
        margin-bottom: 64px;
        display: inline-block;
    }

    &__img {
        padding-top: 59px;
    }
}

.mixitup-control-active {
    color: #fff;
}

.events {
    background-color: #28293E;
    padding-bottom: 140px;

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 20px;
        text-align: center;
    }

    &__title {
        @extend %h2;
        color: #fff;
        margin-bottom: 64px;
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 82px;
    }

    &__item {
        width: 370px;
        border: 1px solid #3A3C56;
        border-radius: 6px;
        padding: 36px 40px 36px;

    }

    &__item-data {
        @extend %h1;
        color: #fff;
        display: flex;
        margin-bottom: 19px;

        span {
            @extend %h4;
            max-width: 134px;
            margin-left: 12px;
        }
    }

    &__item-clock {
        @extend %text;
        color: #fff;
        padding-bottom: 36px;
        padding-left: 24px;
        display: block;
        border-bottom: 1px solid #3A3C56;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background-image: url(../images/icon/clock-icon.svg);
            left: 0;
            top: 7px;
        }

    }

    &__item-title {
        padding-top: 40px;
        @extend %h4;
        color: #fff;
        margin-bottom: 19px;
    }

    &__item-text {
        @extend %text;
        color: rgba(255, 255, 255, 0.64);
        margin-bottom: 26px;
    }

    &__item-link {
        @extend %text;
        color: #FFFFFF
    }

    &__wrapper {
        margin: 0 auto;
        max-width: 175px
    }

    &__link-btn {
        @extend %btn;
        color: #fff;
        padding: 18px 30px 16px 31px;
        border: 1px solid rgba(255, 255, 255, 0.295743);
        border-radius: 6px;
        display: block;
    }
}

.team {
    background-color: #28293E;
    padding-bottom: 180px;

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 20px;
    }

    &__title {
        @extend %h2;
        color: #fff;
        margin-bottom: 64px;
        max-width: 531px;
    }

    &__slider-items {}

    &__slider-item {
        min-width: 270px;
    }

    &__image-wrapper {
        width: 270px;
        height: 272px;
        border: 1px solid #3A3C56;
        border-radius: 6px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 25px;
    }

    &__slider-img {
        display: block;
        object-fit: cover;
    }

    &__slider-name {
        @extend %h4;
        color: #fff;
        margin-bottom: 3px;
    }

    &__slider-job {
        @extend %text;
        color: rgba(255, 255, 255, 0.64);
        margin-bottom: 52px;
    }
}

.slick-prev,
.slick-next {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: -109px;
    right: 0;
}

.slick-prev {
    right: 88px;
}

.slick-next {
    right: 18px;
}

.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots li+li {
    margin-left: 20px;
}

.slick-dots button {
    border: none;
    background-color: transparent;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #4E4F6E;
}

.slick-active button {
    background-color: #EF6D58;
    border: 1px solid #EF6D58;
}


.founder {
    background-color: #28293E;
    padding-bottom: 176px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        width: 470px;
        padding-top: 44px;
        position: relative;
        z-index: 23;


    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 33px;

    }

    &__title {
        @extend %h3;
        color: #fff;
        margin-bottom: 44px;
        position: absolute;
        z-index: 2;

        &::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 80px;
            background-image: url(../images/icon/shape.svg);
            top: -53px;
            right: 45px;
            z-index: -1;
        }
    }

    &__name {
        @extend %text-big;
        color: #fff;
        margin-bottom: 6px;
        padding-top: 250px;
    }

    &__job {
        @extend %text-small;
        color: rgba(255, 255, 255, 0.64);

    }
}

.testimonials {
    background-color: #FDF0E9;
    padding-top: 124px;

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        text-align: center;
        margin-bottom: 20px;
    }

    &__title {
        @extend %h2;
        color: #391400;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 64px;
        max-width: 395px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: auto;
        padding-bottom: 65px;

        grid-template-areas:
            "a b"
            "a d"
            "c d"
        ;

    }

    &__author {
        margin-left: 108px;

        &::before {
            content: '';
            position: absolute;
            width: 80px;
            height: 80px;
            left: -109px;
            top: -7px;
        }
    }

    &__item {
        padding: 48px 48px 51px;
        width: 585px;
        border: 1px solid #F3D1BF;


        &:nth-child(1) {
            grid-area: a;
            max-height: 400px;
            background-color: #fff;

            .testimonials__author {
                position: relative;

                &::before {
                    background-image: url(../images/testimonials/1.png);
                }
            }
        }

        &:nth-child(2) {
            grid-area: b;
            max-height: 336px;

            .testimonials__author {
                position: relative;

                &::before {
                    background-image: url(../images/testimonials/2.png);
                }
            }
        }

        &:nth-child(3) {
            grid-area: c;
            max-height: 336px;

            .testimonials__author {
                position: relative;

                &::before {
                    background-image: url(../images/testimonials/3.png);
                }
            }
        }

        &:nth-child(4) {
            grid-area: d;
            max-height: 336px;

            .testimonials__author {
                position: relative;

                &::before {
                    background-image: url(../images/testimonials/4.png);
                }
            }
        }


    }

    &__stars {
        margin-bottom: 36px;
    }

    &__text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 45px;
    }



    &__author-name {
        @extend %h4;
        color: #391400;
        margin-bottom: 3px;
    }

    &__author-job {
        @extend %text;
        color: #391400;

    }

    &__link-wrapper {
        margin: 0 auto;
        width: 139px;
        padding-bottom: 108px;
    }

    &__link-btn {
        @extend %btn;
        color: #391400;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
        background-color: #fff;
        padding: 18px 37px 16px;
    }

}

.pricing {
    background-color: #FDF0E9;

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 20px;
    }

    &__title {
        @extend %h2;
        color: #391400;
        margin-bottom: 16px;
        max-width: 359px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 176px;
    }

    &__item {
        padding: 44px 47px 48px 48px;
        border: 1px solid #F3D1BF;

        &:nth-child(1) {
            border-radius: 6px 0px 0px 6px;
        }

        &:nth-child(2) {
            box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
            border-radius: 6px 6px 0px 0px;
        }

        &:nth-child(3) {
            border-radius: 0px 6px 6px 0px;
        }
    }

    &__item--popular {
        background-color: #fff;

        .pricing__item-lable {
            display: inline-block;
        }

        .pricing__item-btn {
            background-color: #EF6D58;
            color: #fff;
        }
    }

    &__item-lable {
        display: none;
        @extend %text;
        color: #fff;
        padding: 4px 15px 2px 17px;
        border-radius: 19px;
        background-color: #EF6D58;
        margin-bottom: 22px;
    }

    &__item-subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 17px;
    }

    &__item-title {
        @extend %h3;
        color: #391400;
        margin-bottom: 15px;
    }

    &__item-text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 27px;

    }

    ul.pricing__item-list {
        margin-bottom: 20px;

    }

    &__item-by {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 16px;
        margin-left: 32px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background-image: url(../images/pricing/minus.svg);
            left: -32px;
            top: 6px;


        }
    }

    &__item-by--active {
        color: #391400;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background-image: url(../images/pricing/plus.svg);
            left: -32px;
            top: 6px;


        }
    }

    &__item-btn {
        display: inline-block;
        @extend %btn;
        color: #391400;
        padding: 18px 32px 16px;
        background-color: #fff;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
    }
}

.faq {
    background-color: #FDF0E9;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 470px;
    }

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 17px;
    }

    &__title {
        @extend %h3;
        color: #391400;
        margin-bottom: 31px;
    }

    &__text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 29px;
    }

    &__link {
        @extend %text;
        color: #391400;
    }



    &__item {
        width: 570px;
        padding: 41px 50px 44px 50px;
        border: 1px solid #F3D1BF;
        box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
        position: relative;
        transition: all .1s;

        &:first-child {
            border-radius: 6px 6px 0px 0px;
        }

        &:last-child {
            border-radius: 0px 0px 6px 6px;
        }

        &::after {
            content: '';
            position: absolute;
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 32px;
            height: 32px;
            top: 40px;
            right: 35px;
            transition: all .3s;
            background-image: url(../images/icon/up-arrows.svg);
            transform: rotate(180deg)
        }
    }

    &__item-title {
        @extend %h4;
        color: #391400;
        cursor: pointer;
    }

    &__item-text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        padding-top: 25px;
    }
}

.faq__item.open {
    background-color: #fff;

    &::after {
        transform: rotate(0deg)
    }
}

.awards {
    background-color: #FDF0E9;
    padding-top: 156px;

    &__title {
        @extend %h3;
        color: #391400;
        margin-bottom: 67px;
        text-align: center;
    }

    &__items {
        margin-bottom: 60px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #F3D1BF;
        border-bottom: 1px solid #F3D1BF;

        &:nth-child(2) {
            border: none;
        }
    }

    &__item-wrapper {
        display: flex;
        align-items: center;
        width: 256px;
    }

    &__item-name {
        margin-left: 24px;
        @extend %text-big;
        color: #391400;
        padding: 41px 0 38px;
    }

    &__item-data {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
    }

    &__item-corp {
        width: 226px;
        display: flex;
        justify-content: flex-end;
    }

    &__now-inner {
        display: flex;
        margin: 0 auto;
        max-width: 260px;
    }

    &__now__text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-right: 8px;
    }

    &__now-link {
        @extend %text;
        color: #391400;
        padding-bottom: 112px;
    }
}

.blog {
    background-color: #FDF0E9;

    &__subtitle {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 65px;
    }

    &__title {
        @extend %h2;
        color: #391400;
        max-width: 318px;

    }

    &__btn {
        @extend %btn;
        color: #391400;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
        background-color: #fff;
        padding: 18px 35px 16px;
        margin-bottom: 20px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        padding-bottom: 68px;
        border-bottom: 1px solid #F3D1BF;
    }

    &__item-img {
        margin-bottom: 26px;
    }

    &__item-subtitle {
        @extend %text-big;
        color: #391400;
        margin-bottom: 15px;
    }

    &__item-title {
        @extend %h4;
        color: #391400;
        margin-bottom: 15px;
    }

    &__item-data {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
    }
}

.letter {
    padding: 60px 0 115px;
    display: flex;
    justify-content: space-between;

    &__title {
        @extend %h3;
        color: #391400
    }

    &__form {
        display: flex;
        justify-content: space-between;
    }

    &__input {
        border: 1px solid #F3D1BF;
        border-radius: 6px;
        background-color: #fff;
        padding: 9px 16px 7px;
        margin-right: 30px;
        width: 370px;

        &::placeholder {
            @extend %text;
            color: rgba(57, 20, 0, 0.64);
        }
    }

    &__btn {
        @extend %btn;
        background-color: #fff;
        border: none;
        color: #391400;
        padding: 18px 45px 16px;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
        cursor: pointer;
    }
}

.map {
    padding: 128px 0;
    background-image: url(../images/map.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        padding: 57px 48px 48px;
        max-width: 470px;
        background-color: #fff;
        border-radius: 6px;
    }

    &__title {
        @extend %h4;
        color: #391400;
        margin-bottom: 23px;
    }
}

.form {
    max-width: 374px;

    &__input {
        display: block;
        width: 100%;
        border: 1px solid #F3D1BF;
        border-radius: 6px;
        background-color: #fff;
        padding: 9px 16px 7px;
        margin-bottom: 16px;
        @extend %text;
        color: rgba(57, 20, 0, 0.64);

        &::placeholder {
            @extend %text;
            color: rgba(57, 20, 0, 0.64);
        }
    }

    &__select {
        width: 100%;
        padding: 0;
        margin-bottom: 16px;
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
    }

    &__textarea {
        width: 100%;
        height: 96px;
        border: 1px solid #F3D1BF;
        border-radius: 6px;
        padding: 9px 16px;
        resize: none;
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 25px;

        &::placeholder {
            @extend %text;
            color: rgba(57, 20, 0, 0.64);
        }

    }

    &__btn {
        @extend %btn;
        color: #fff;
        border: none;
        background-color: #EF6D58;
        border-radius: 6px;
        padding: 18px 30px 16px;
        margin-left: 220px;
        justify-content: flex-end;
        cursor: pointer;
    }
}

.jq-selectbox__select {
    position: relative;
    width: 100%;
    border: 1px solid #F3D1BF;
    border-radius: 6px;
    background: none;
    background-color: #fff;
    padding: 9px 16px 7px;
    @extend %text;
    color: rgba(57, 20, 0, 0.64);
    display: block;
    height: auto;
    box-shadow: none;

    &:hover {
        background: none;
    }

}

.jq-selectbox__trigger {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
}

.jq-selectbox__trigger-arrow {
    border-top: 5px solid #EF6D58;
    top: 21px;
    right: 12px;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
    border-top: 5px solid #EF6D58;
}

.jq-selectbox__select-text {
    @extend %text;
    color: rgba(57, 20, 0, 0.64);
    width: 100% !important;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
}

.jq-selectbox__dropdown li {
    padding: 9px 16px 7px;
    border-bottom: #F3D1BF;

    &::marker {
        @extend %text;

    }
}

.jq-selectbox__dropdown {
    width: 100%;
    padding: 0;
    border: 1px solid #F3D1BF;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: none;
    font: 16px/32px 'Epilogue-Regular', sans-serif;
    color: rgba(57, 20, 0, 0.64);

}

.jq-selectbox ul {
    border-radius: 6px;
}

.jq-selectbox li {
    border: 1px solid #F3D1BF;
    padding: 10px 15px;
    color: rgba(57, 20, 0, .64);
}

.jq-selectbox li.selected {
    background-color: #f7f3f1;
    color: rgba(57, 20, 0, .64);

}

.jq-selectbox li:hover {
    background-color: #fff;
    color: rgba(57, 20, 0, .64);
}

.contact {
    background-color: #FDF0E9;
    padding-top: 80px;

    &__items {
        display: flex;
        justify-content: space-between;
        padding-bottom: 129px;
    }

    &__item {
        padding: 52px 48px 38px;
        border: 1px solid #F3D1BF;
        position: relative;
        width: 391px;

        &::before {
            content: '';
            position: absolute;
            width: 64px;
            height: 64px;
            left: 46px;
            top: 34px;

        }

        &:nth-child(1) {
            border-radius: 6px 0px 0px 6px;

            &::before {
                background-image: url(../images/contact/phone.svg);
                background-repeat: no-repeat;
            }


        }

        &:nth-child(2) {
            &::before {
                background-image: url(../images/contact/email.svg);
                background-repeat: no-repeat;
            }
        }

        &:nth-child(3) {
            border-radius: 0px 6px 6px 0px;

            &::before {
                background-image: url(../images/contact/phone.svg);
                background-repeat: no-repeat;
            }

        }

    }

    &__item-title {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 38px;
        margin-left: 88px;

    }

    &__item-text {
        @extend %text-big;
        color: #391400;
    }
}

.contact-banner {
    background-color: #EF6D58;
    padding: 39px 70px 71px 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;

    &__content {
        max-width: 470px;
        padding-top: 56px;
    }

    &__title {
        @extend %h2;
        color: #fff;
        margin-bottom: 28px;
    }

    &__text {
        @extend %text;
        color: rgba(255, 255, 255, 0.64);
        margin-bottom: 34px;
    }

    &__btn {
        @extend %btn;
        color: #391400;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
        background-color: #fff;
        padding: 18px 32px 16px;
    }
}

.footer {
    padding: 90px 0 43px;
    background-color: #FDF0E9;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 68px;
    border-bottom: 1px solid #F3D1BF;

    &__link-logo {
        @extend %h4;
        color: #391400;
    }

    &__title {
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 16px;
    }

    &__item {
        @extend %text;
        color: #391400;
    }

    &__list-social {
        display: flex;
        width: 160px;
        justify-content: space-between;
    }
}

.footer-copy {
    padding-top: 43px;
    display: flex;
    justify-content: space-between;

    &__text {
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
    }

    &__link-inner {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        @extend %text;
        color: #391400;

        &:last-child {
            margin-left: 68px;
        }
    }
}

.about-page {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__text-wrapper {
        padding: 56px 0 79px;
    }
    &__title{
        max-width: 450px;
    }
    &__text {
        max-width: 570px;

    }
}

.video-about {
    background-color: #FDF0E9;
    padding-bottom: 128px;

    &__img {
        padding: 150px 0;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__screen {
        background-image: url(../images/video/about-video.png);
        padding: 0;
    }

}

.feature-skills__items-about {
    padding-bottom: 144px;
}

.about-statistic {
    padding-bottom: 128px;
}

.team {
    padding-top: 92px;
}

.testimonials-about {
    background-color: #28293E;

    &__subtitle {
        @extend %h5;
        color: #fff;
        text-align: center;
    }

    &__title {
        @extend %h2;
        color: #fff;
        max-width: 394px;
        margin: 0 auto;
        text-align: center;
    }

    &__items {
        display: block;
        margin: 0 auto;
        padding-bottom: 220px;
        
    }
    
    &__item {
        padding: 48px 48px 52px;
        background-color: #fff;
        border: 1px solid #F3D1BF;
        box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
        border-radius: 0px 0px 6px 6px;
        opacity: .5;
        transition: all .3s;
        max-width: 770px;
        min-height: 336px;
        
        
    }
}
.slick-center .testimonials-about__item{
    opacity: 1;
    min-height: 400px;
}
.testimonials-about__items  ul.slick-dots{
    margin-top: 64px;
}
.faq-about{
    background-color: #28293E;
    &__content{
        max-width: 770px;
    }
    &__title{
        color: #FFFFFF;
    }
    &__text{
        color: #FFFFFF;
        margin-bottom: 65px;
    }
    &__item{
        width: 100%;
        border: 1px solid #3A3C56;
        transition: all .4s;
    }
    &__item-title{
        color: #FFFFFF;
    }
    &__item.open > .faq-about__item-title{
        color: #391400;
    }
    &__accordion{
        padding-bottom: 117px;
    }
}
.about-partners{
    background-color: #28293E;
    padding-bottom: 541px;
    
    &__inner{
        border-bottom: none;
    }
}


.about-banner{
    position: relative;
    &__inner{
        position: absolute;
        bottom: -145px;
        max-width: 1170px;
    }
    &__content{
        margin-right: 90px;
    }
}
.about-footer{
    padding-top: 217px;
}


.service-page{
    background-color: #FDF0E9;
    padding-top: 76px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        max-width: 470px;
    }
    &__subtitle{
        @extend %h5;
        color: #EF6D58;
        margin-bottom: 33px;
    }
    &__title{
        @extend %h3;
        color: #391400;
    }
    &__text-wrapper{
        max-width: 570px;
        padding-top: 80px;
    }
    &__text{
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 50px;
    }
}


.service-accordion{
    &__item{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 70px;
            width: 32px;
            height: 32px;
            background-image: url(../images/icon/up-arrows.svg);
            transform: rotate(180deg);
            transition: all 0.4s;
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 45px;
            width: 80px;
            height: 80px;
        }
        &:nth-child(1){
            &::before{
                background-image: url(../images/service/service-page/design-icon.svg);
            }
        }
        &:nth-child(2){
            &::before{
                background-image: url(../images/service/service-page/dev-icon.svg);
            }
        }
        &:nth-child(3){
            &::before{
                background-image: url(../images/service/service-page/market-icon.svg);
            }
        }
    }
    &__wrapper{
         padding: 59px 0 52px;
        border-top: 1px solid #F3D1BF;
        border-bottom: 1px solid #F3D1BF;
        position: relative;
    }
    &__header{
        @extend %h2;
        color: #391400;
        margin-left: 116px;
       
     
    }

    
    &__item-wrapper{
       max-width: 570px;
    }
    &__item-content{
      display: flex;
      align-items: flex-end;
      flex-direction: column;
        
    }
    &__item-title{
        padding-top: 76px;
        @extend %h3;
        color: #391400;
        display: block;
        margin-bottom: 28px;    
    }
    &__item-text{
        max-width: 570px;
        @extend %text;
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 38px;
    }
    &__list{
        max-width: 200px;
        @extend %text;
        color: #391400;
        display: block;
     
    }
}

ul.service-accordion__list{
    margin-left: 48px;
}

li.service-accordion__item-list{
    padding-bottom: 16px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        top: -1px;
        left: -47px;
        background-image: url(../images/service/service-page/check.svg);
    }
}
.service-accordion__item.open {
    &::after{
        transform: rotate(0deg);
    }
}
.service-work{
    &__inner{
        border: none;
    }
}

@import 'media';